*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f099de;
    color: rgb(252, 250, 252);
    line-height: 1.6;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    font-style: italic;
    padding: 20px;
}
.container{
    max-width: 800px;
    margin: auto;
    background: rgb(109, 5, 83);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

}
button{
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.meme{
    margin-top: 20px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 70vh;
}